body {
    background-color: #ffffff;
}

.cart-item {
    background-color: #fff;
    border-radius: 8px;
}

.cart-img {
    width: 80px;
    height: 100px;
    object-fit: contain;
    border-radius: 4px;
}

.cart-details h5 {
    margin-bottom: 0;
}

.cart-price {
    min-width: 80px;
}